# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Elpa folder
elpa/
elpa.old/

# Local configuration file
garbage.el*

# Helm
helm*

# Projectile files
projectile-bookmarks.eld
projectile.cache

# Recentf file
recentf

# Lsp sessions
.lsp-session*

# Places
/places

transient

# irony server bin
irony

# no-littering package
etc/
var/

ac-comphist.dat
*.el.old
